.header {
  background: #011529;
  // margin-bottom: 1rem;
  box-shadow: $shadow;
  padding: 1rem;
}

.heading-logo {
  color: $white;
  font-weight: bolder;
  margin: 0;
}

.icon {
  color: $white !important;
}

.head-links {
  padding: 0.5rem;
  font-size: large;
  font-weight: 600;
  color: $white;
  background: #011529;
}

.ant-header {
  color: white;
}
