// Colors

// Fonts

// box shadow that I like to use
$shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3);

// Mixin I like, below comment shows how to use it
// @include border-radius(0.5rem);
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}