<head>
  <title>Title</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css' />
  <link rel='stylesheet' href='/static/bundle.css' />
</head>

<body>
  <div><%= error.stack %></div>
</body>

</html>